@charset "utf-8";
html,
body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {
    margin: 0;
    padding: 0;
}
*:focus,
*:active,
*:hover{
    outline: none;
}

html {
    height: 100%;
}

.body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.header_index {
    height: 100%;
    width: 100%;
    /* background-color: #2F2C2C; */
    background-image: url('../img/index_bg.jpg');
    background-position:  no-repeat;
    background-size: cover;
}

.half_Transparent {
   filter: alpha(Opacity=50 );
   -moz-opacity:0.5;
   opacity: 0.5;
}

.title {
    /*position: relative;*/
    height: 12%;
}

.title_content {
    color:green;
    padding-left:10%;
    padding-top:4%;
}

.timestamp {
    padding-left: 10%;
    color: yellow;
}